<footer>
  <ul>
    <li><a href="http://creativecommons.org/licenses/by-sa/4.0/">License CC-SA-BY 4.0</a></li>
    <li>Made with <span class="hearth">♥</span> by Social Coders</li>
    <li><a href="https://html5up.net/txt">TXT Theme</a> provided by <a href="http://html5up.net/">HTML5 UP</a> under the <a href="http://creativecommons.org/licenses/by/3.0/
  ">License CC-BY 3.0</a></li>
  </ul>
</footer>
