<section class="show">
  <% link_to "/show/#{show.slug}.html" do %>
    <h1><%= show.title %></h1>
  <% end %>
  <div class="show__description"><%= show.description %></div>
  <img class="show__cover" src="<%= show.cover.file.to_url %>" alt="<%= show.title %>" />
</section>
