<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">
      <div class="12u">
        <div class="content">

          <!-- Content -->

            <article class="box page-content">

              <header class="homepage__content-heading">
                <img class="logo--homepage" src="images/logo.jpg" alt="Logo IDEEinSCENA" />
                <h2><%= dato.homepage.title %></h2>
              </header>

              <section>
                <span class="image featured"><img src="<%= dato.homepage.cover.file.to_url(fit: 'clip', w: 1200, h: 1200) %>" alt="" /></span>
              </section>

              <section class="description--strong">
                <%= dato.homepage.description %>
              </section>

            </article>

        </div>
      </div>
    </div>
  </div>
</div>
