<section class="homepage">
  <h1><%= dato.homepage.title %></h1>
  <img class="homepage__cover" src="<%= dato.homepage.cover.file.to_url %>" alt="Idee In Scena" />
  <div class="homepage__description"><%= dato.homepage.description %></div>
</section>
