
<section class="shows">
  <h1>Spettacoli</h1>
  <%= partial "partials/show_current" %>

  <section class="shows__preview">
    <% dato.shows.each do |show| %>
      <%= partial "partials/show_preview", locals: {show: show} %>
    <% end %>
  </section>

</section>
