<div id="main-wrapper">
  <div id="main" class="container">

    <div class="row">
      <div class="9u 12u(mobile) important(mobile)">
        <%= partial "partials/show_current_main" %>
      </div>
      <div class="3u 12u(mobile)">
        <%= partial "partials/shows_sidebar" %>
      </div>
    </div>

    <div class="row 200%">
      <div class="12u">
        <section class="box features">
          <h2 class="major"><span>Immagini</span></h2>
        </section>
        <%= partial "partials/image_gallery", locals: { gallery: dato.current_show.gallery_images } %>
      </div>
    </div>

    <div class="row 200%">
      <div class="12u">
        <section class="box features">
          <h2 class="major"><span>Video</span></h2>
        </section>

        <%= partial "partials/video_gallery", locals: { gallery: dato.current_show.gallery_videos } %>
      </div>
    </div>

  </div>
</div>
